.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__title {
  margin: 0;
  max-width: 353px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-btn {
  background: transparent url(../images/Delete-icon.svg) center no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

.card__delete-btn:hover {
  background: transparent url(../images/delete-btn-hover.svg) center no-repeat;
  cursor: pointer;
}

.card__like-btn {
  background: transparent url(../images/Union.svg) center no-repeat;
  margin-top: 12px;
  width: 23px;
  height: 20px;
  padding: 0;
  border: 2px solid transparent;
  opacity: 0.4;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/Like-icon.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
