.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 60px 0 60px;
  padding: 0;
  color: rgba(33, 33, 33, 0.7);
  white-space: nowrap;
}
