.modal {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  background-color: #ffff;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background: transparent url(../images/close-icon.svg) center no-repeat;
  opacity: 0.4;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  max-width: 630px;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  display: block;
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
  width: 630px;
  width: 100%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: calc(100% - 30px);
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  line-height: 1;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  background-color: rgba(33, 33, 33, 1);
  max-width: 156px;
  width: 100%;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  border: none;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

.modal__submit-btn_error:disabled {
  background-color: rgba(33, 33, 33, 0.5);
  cursor: default;
}

.modal__form_delete {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.modal__title_delete {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
}

.modal__close-btn_delete {
  background: transparent url(../images/white-close-btn.svg) center no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -52.5px;
}

.modal__close-btn_delete:hover {
  cursor: pointer;
}

.modal__submit-btn_delete {
  background-color: rgba(255, 101, 101, 1);
  max-width: 156px;
  width: 100%;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  color: rgba(33, 33, 33, 1);
  font-size: 16px;
  line-height: 1;
}

.modal__submit-btn_delete:hover {
  background-color: rgba(255, 51, 51, 1);
  cursor: pointer;
}

.modal__cancel-btn {
  background-color: transparent;
  padding: 18px 32px;
  border: 1px solid rgba(33, 33, 33, 1);
  max-width: 156px;
  width: 100%;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.modal__cancel-btn:hover {
  cursor: pointer;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
}

.modal__image-container {
  position: relative;
}

.modal__close-btn_type_preview {
  background: transparent url(../images/white-close-btn.svg) center no-repeat;
  opacity: 1;
  top: 0;
  right: -52.5px;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  display: block;
}

.modal__caption {
  display: inline-block;
  margin: 10px 0 0 0;
  left: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.modal__error {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(255, 0, 0, 0.7);
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__form_delete {
    flex-direction: column;
    gap: 12px;
  }

  .modal__submit-btn_delete {
    max-width: none;
  }

  .modal__cancel-btn {
    max-width: none;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__close-btn_delete {
    top: -48px;
    right: 0;
  }
}
